{% extends "layout.html" %}
{% block content %}

<br><br><br><br><br><br><br>
    <div class="content-section">
        <form method="POST" action="/pre_update_customer">
            <label>enter the SsnId  </label>
            <input type="text" name="ssnid">
            <input type="submit" value="Search">
        </form>
         <form method="POST" action="/pre_update_customer">
            <label>enter the Customer ID   </label>
            <input type="text" name="cid" >
            <input type="submit" value="Search">
        </form>
    </div>
    
{% endblock content %}
