{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
                <legend class="border-bottom mb-4">Customer Status</legend>

                <div class="form-group">
                    
                        <label for="table"> 
                      
                        
                                <table border=1 width="30%">
                                    <tr>
                                   
                                    <th>Source_Account_ID</th>
                                    <th>Tgt_Account_ID</th>
                                    <th>Transaction_date</th>
                                    <th>Amount</th>
                                    <th>Source_Acct_type</th>
                                    <th>Target_Acct_type</th>
                                   
                                    </tr>
                                    {% for i in response %}
                                    <tr>
                                   
                                    <td>{{ i.Source_Account_ID}}</td>
                                    <td>{{ i.Tgt_Account_ID }}</td>
                                    <td>{{ i.Transaction_date }}</td>
                                     <td>{{ i.Amount }}</td>
                                    <td>{{ i.Source_Acct_type }}</td>
                                    <td>{{ i.Target_Acct_type }}</td>

                                    </tr>
                                    {% endfor %}
                                </table>
                            </label>
                    </div>

                   
            </fieldset>
        </div>
            
{% endblock content %}