{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/transfer">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Transfer Money</legend>
               
               
                
                <div class="form-group">
                    {{ form.amount.label(class="form-control-label") }}
                    {% if form.amount.errors %}
                        {{ form.amount(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.amount.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.amount(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

 
                <div class="form-group">
                    {{ form.said.label(class="form-control-label") }}
                    {% if form.said.errors %}
                        {{ form.said(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.said.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.said(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.taid.label(class="form-control-label") }}
                    {% if form.taid.errors %}
                        {{ form.taid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.taid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.taid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}
