{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Customer Search</legend>
                <h6>*Either one of the details should be entered</h6>
                <div class="form-group">
                    {{ form.ssn_id.label(class="form-control-label") }}
                    {% if form.ssn_id.errors %}
                        {{ form.ssn_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ssn_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ssn_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <h3>OR</h3>
                <div class="form-group">
                    {{ form.customer_id.label(class="form-control-label") }}
                    {% if form.customer_id.errors %}
                        {{ form.customer_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            
        </form>
    </div>
    
{% endblock content %}
