{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Customer Status</legend>

                <div class="form-group">
                    
                        <label for="table"> 
                        
                                <table border=1 width="30%">
                                    <tr>
                                    <th>Customer Id</th>
                                    <th>Customer SSN ID</th>
                                    <th>Status</th>
                                    <th>Message</th>
                                    <th>Last Updated</th>
                                    <th>Operations</th>
                                    <th>View Profile</th>
                                    </tr>
                                    {% for i in table %}
                                    <tr>
                                    <td>{{ i.customer_id }}</td>
                                    <td>{{ i.customer_ssn_id }}</td>
                                    <td>{{ i.status }}</td>
                                    <td>{{ i.message }}</td>
                                    <td>{{ i.last_updated }}</td>
                                    <td><a href="{{ i.operations }}">Refresh</a></td>
                                    <td><a href={{ i.view_profile }}>View Details</a></td>
                                    </tr>
                                    <% endfor %>
                                </table>
                            </label>
                    </div>

                   
            </fieldset>
            
{% endblock content %}
