{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/delete_customer">
  

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Customer</legend>
                
                <input type="text" name="ssnid" hidden="true" value="{{cd.ssnid}}">
                <label>Customer SSNID : {{ cd.SSN_ID}}</label><br/>
                <label>Customer ID : {{ cd.Customer_ID}}</label><br/>
                <label>Customer Name : {{ cd.Name}}</label><br/>
                <label>Customer Address : {{ cd.Address}}</label><br/>
                <label>Customer Age : {{ cd.Age}}</label><br/>
         
              

            </fieldset>
            <br/><input type="submit" value="Confirm"> <a href="/"><button>Cancel</button></a>
            
        </form>
    </div>
    
{% endblock content %}
