{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="/delete_account">
          
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Account</legend>
       
                <input type="text" name="aid" hidden="true" value="{{account_data.Customer_ID}}">
                <label> 
                Customer ID : {{ account_data.Customer_ID  }}</label><br/>
                <label> Account ID : {{ account_data.Account_ID }}</label><br/>
                <label> Account Type : {{ account_data.Account_type  }}</label><br/>
                <label> Balance : {{ account_data.Balance  }}</label><br/>
          
               

            </fieldset>
            <br/><input type="submit" value="Confirm"> <a href="/"><button>Cancel</button></a>
        </form>
    </div>
    
{% endblock content %}
